<div class="flex flex-col px-6 py-4">
    <form class="flex flex-col">
        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-row">
            <span class="font-bold">Colaborador</span>
            <mat-form-field class="ml-4 w-90 pr-2 pt-2">
                <mat-select >
                    <ng-container >
                        <mat-option >

                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
