.content {
    background-color: #f1f5f9;
}

.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 48px 112px auto 112px 96px 96px 72px;
    }
}

.matTooltipCustom {
    max-width: 200px !important;
    color: white !important;
    font-size: 18px !important;
    left: 0px !important;
    margin-left: 10px;
    margin-top: 4px !important;
    background-color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;;
}

// ::ng-deep .tooltip {
//     background-color: red;
//     color: blue;
//     font-size: 20px;
//   }

//   .my-custom-tooltip {
//     max-width: 200px !important;
//     background-color: red;
//     color: blue;
//     font-size: 20px;
//   }


//   ::ng-deep .matTooltipCustom{
//     // white-space: pre-line;
//     // width: 1500px;
//     // width: fit-content;
//     max-width: 300px !important;
//     white-space: pre-wrap;
//     font-size: 17px;
//   }

// ::ng-deep .mat-tooltip-component {
//     .mat-tooltip.tooltip {
//         color: blue !important;
//     }
// } 

.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 200px;
}

.container-filter {
    display: flex;
    flex-direction: row;
    width: 100%;

    & div:nth-child(1) {
        width: auto;
    }
}

:host::ng-deep
    .mat-form-field.mat-form-field-appearance-fill
    .mat-form-field-wrapper
    .mat-form-field-flex {
    padding-right: 0;
}
