<div class="content flex flex-auto border-t-mt-px max-w-screen-xl mx-auto py-4 px-6 sm:px-8 h-full ">

    

    <div class="w-full">
            <div class="flex flex-col">
                <div class="flex flex-auto mt-4">
                    
                    <form [formGroup]="filterForm" class="example-form">
                        <div class="container-filter">
                            <div style="width: 30%; margin-right: auto">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Solicitudes</mat-label>
                                <input type="text"
                                       placeholder="Pick one"
                                       aria-label="Number"
                                       matInput
                                       formControlName="myControl"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="w-50 mr-6" appearance="fill">
                                    <mat-label class="font-semibold">Cliente</mat-label>
                                    <input type="text" matInput [placeholder]="'EPA'" formControlName="clientControl" [matAutocomplete]="client">
                                    <mat-autocomplete #client="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredClients | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div>
                              <mat-form-field class="w-50 mr-6">
                                  <mat-label class="font-semibold">Grupo solucionador</mat-label>
                                  <input
                                    type="text"
                                    [placeholder]="'Proyecto 1'"
                                    matInput
                                    formControlName="clientControl"
                                    [matAutocomplete]="autoClient">
                                  <mat-autocomplete #autoClient="matAutocomplete">
                                      <mat-option *ngFor="let option of filteredClients | async" [value]="option">
                                          {{option}}
                                      </mat-option>
                                  </mat-autocomplete>
                              </mat-form-field>
                            </div>
                            <!-- <div>
                                <mat-form-field class="w-50" appearance="fill">
                                    <mat-label class="font-semibold">Conocimiento</mat-label>
                                    <input type="text" matInput [placeholder]="'EPA'" [formControl]="myControlTest" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option?.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div> -->
                        </div> 
                    </form>
                    

            

                    
                    <!-- <div class="flex flex-col">
                    <mat-label class="font-semibold">Cliente</mat-label>
                    <mat-form-field class="w-50 mr-6" appearance="fill">
                        <input type="text" matInput [placeholder]="'EPA'" [formControl]="myControlTest" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option?.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    </div>
                    <div class="flex flex-col">
                    <mat-label class="font-semibold">Conocimiento</mat-label>
                    <mat-form-field class="w-50 mr-6" appearance="fill">
                        <input type="text" matInput [placeholder]="'Java'" [formControl]="myControlTest" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option?.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    </div> -->
                    
                </div>

               

                <div class="bg-card py-3 px-6 rounded shadow  flex flex-col">
                    <mat-tab-group class="flex flex-row justify-center">
                        <mat-tab label="Recomendado"></mat-tab>
                        <mat-tab label="1"></mat-tab>
                        <mat-tab label="2"></mat-tab>
                        <mat-tab label="3"></mat-tab>
                        <mat-tab label="4"></mat-tab>
                    </mat-tab-group>

    <!--                <div class="flex flex-row justify-center mb-8 w-full">-->
    <!--                </div>-->

                <div class="relative">
                    <ng-container *ngIf="(collaborators$ | async) as collaborators">
                        <ng-container *ngIf="collaborators.length; else noCollaborators">
                            <ng-container *ngFor="let collaborator of collaborators | filterCollaborator: filterValue; let i = index; ">
                                <ng-container *ngIf="collaborator.isActive != 0">
                                    <!-- Group -->
                                    <ng-container
                                        *ngIf="i === 0 || collaborator.name.charAt(0) !== collaborators[i - 1].name.charAt(0)">
                                        <div
                                            class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                            {{collaborator.name.charAt(0)}}
                                        </div>
                                    </ng-container>
                                    <!-- Collaborator -->
                                    <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"  [class.tab-select]="tabIndex === 1" (click)="redirection('assignation', 1)"
                                        [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedCollaborator || selectedCollaborator.id !== collaborator.id,
                                                                'bg-primary-50 dark:bg-hover': selectedCollaborator && selectedCollaborator.id === collaborator.id}" >
                                        <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                            <ng-container *ngIf="collaborator.avatar">
                                                <img class="object-cover w-full h-full" [src]="collaborator.avatar"
                                                    alt="Collaborator avatar" />
                                            </ng-container>
                                            <ng-container *ngIf="!collaborator.avatar">
                                                <div
                                                    class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                    {{collaborator.name.charAt(0)}}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate">{{collaborator.name}} {{collaborator.lastName}}
                                            </div>
                                            <div class="leading-5 truncate text-secondary">{{collaborator.employeePosition.name}}</div>
                                        </div>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                
                    <!-- No collaborators -->
                    <ng-template #noCollaborators>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay colaboradores!</div>
                    </ng-template>
                
                </div>

                </div>
            </div>
        </div>
    </div>
